:root {
  --bg-color: #EEEEEE;
  --primary-color: #EEEEEE;
  --secondary-color: #333333;
  --text-color: #333333;
  --text-color-2: #333333;
  --text-color-3: #B4A1BB;
  --overlay-color: #EEEEEE;
}

[data-theme="dark"] {
  --bg-color: #333333;
  --primary-color: #333333;
  --secondary-color: #EEEEEE;
  --text-color: #EEEEEE;
  --text-color-2: #EEEEEE;
  --text-color-3: #B4A1BB;
  --overlay-color: #333333;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marcellus', serif;
}

a, a:hover {
  color: var(--text-color);
}

p {
  word-break: normal;
  margin-top: 0;
  margin-bottom: 1.3rem;
}

.text_2, .text_2:hover {
  color: var(--text-color-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.color_pr {
  color: var(--primary-color) !important;
}

.color_sec {
  color: var(--secondary-color);
}

.sec_sp {
  padding: 30px 0;
}

.table {
  background-color: var(--bg-color);
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table td, .table th {
  color: var(--text-color);
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--bg-color);
}

.table th {
  font-weight: bold;
  border-bottom: 1px solid var(--text-color);
}

.table tr:last-child td {
  border-bottom: 1px solid var(--text-color);
}

.table tr:hover {
  background-color: var(--secondary-color);
}

.table td:first-child, .table th:first-child {
  padding-left: 0;
}

.table td:last-child, .table th:last-child {
  padding-right: 0;
}

.table caption {
  caption-side: top;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 8px;
}

.progress-title {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 20px;
  font-family: 'Raleway';
}

.progress {
  height: 5px;
  background: var(--secondary-color);
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  background: var(--text-color);
  animation: animate-positive 2s;
  overflow: visible;
  opacity: 0.9;
}

.progress .progress-value {
  position: absolute;
  top: -30px;
  right: 8px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: var(--text-color);
}

@-webkit-keyframes animate-positive {
  0% {
      width: 0%;
  }
}

@keyframes animate-positive {
  0% {
      width: 0%;
  }
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  width: 100%;
  padding-bottom: 60px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: 6px;
  border: none !important;
  transition: 0.3s ease;
  background: none !important;
}

.portfolio-item a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease, font-weight 0.3s ease;
  border: none !important;
}

.portfolio-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  margin-left: 0;
  font-weight: normal;
  transition: font-weight 0.3s ease;
  border: none !important;
}

.portfolio-image {
  width: 100%;
  aspect-ratio: 1.414;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  border: none !important;
}

.portfolio-item:hover .portfolio-title {
  font-weight: bold;
}

@media (max-width: 768px) {
  .portfolio-grid {
      grid-template-columns: 1fr;
  }
}
