:root {
    /* Define theme colors */
    --primary-color: #000000; /* Default theme color */
    --secondary-color: #ffffff; /* Default secondary color */
    --arrow-color: #000000; /* Arrow color */
    --arrow-hover-color: #333333; /* Arrow hover color */
  }
  
  [data-theme="dark"] {
    --primary-color: #ffffff; /* Dark theme primary color */
    --secondary-color: #000000; /* Dark theme secondary color */
    --arrow-color: #ffffff; /* Arrow color in dark theme */
    --arrow-hover-color: #cccccc; /* Arrow hover color in dark theme */
  }
  
  [data-theme="light"] {
    --primary-color: #000000; /* Light theme primary color */
    --secondary-color: #ffffff; /* Light theme secondary color */
    --arrow-color: #000000; /* Arrow color in light theme */
    --arrow-hover-color: #333333; /* Arrow hover color in light theme */
  }
  
  /* Ensure the portfolio fits one page without a scrollbar */
  .portfolio-container {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px; 
    width: 100%;
    padding-bottom: 60px;
  }
  
  .portfolio-item {
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 6px;
    border: none !important;
    transition: 0.3s ease;
    background: none !important;
  }
  
  .portfolio-item a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease, font-weight 0.3s ease;
    border: none !important;
  }
  
  .portfolio-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-left: 0;
    font-weight: normal;
    transition: font-weight 0.3s ease;
    border: none !important;
  }
  
  .portfolio-image {
    width: 100%;
    aspect-ratio: 1.414;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border: none !important;
  }
  
  .portfolio-item:hover .portfolio-title {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: 1fr;
    }
  }
  