  .portfolio-item {
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 6px;
    border: none !important;
    transition: 0.3s ease;
    background: none !important;
  }
  
  .portfolio-item a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease, font-weight 0.3s ease;
    border: none !important;
  }
  
  .portfolio-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-left: 0;
    font-weight: normal;
    transition: font-weight 0.3s ease;
    border: none !important;
  }
  
  .portfolio-image {
    width: 100%;
    aspect-ratio: 1.414;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border: none !important;
  }
  
  .portfolio-item:hover .portfolio-title {
    font-weight: bold;
  }

  .video-section {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  