.progress-title {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 20px;
  font-family: 'Raleway';
}

.progress {
  height: 5px;
  background: var(--secondary);
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  background: var(--text-color);
  animation: animate-positive 2s;
  overflow: visible;
  opacity: 0.9;
}

.progress .progress-value {
  position: absolute;
  top: -30px;
  right: 8px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: var(--text-color);
}

@-webkit-keyframes animate-positive {
0% {
    width: 0%;
}
}

@keyframes animate-positive {
0% {
    width: 0%;
}
}

.modal-body-custom {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-image {
  width: 100%;
  height: auto;
  max-width: 200%;
  max-height: 200%;
  object-fit: contain;
  transform: scale(2.5);
}

.clickable-image {
  max-width: 100%;
  cursor: pointer;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

li {
  margin-bottom: 5px;
}

.section-link {
  margin-left: 40px;
}